.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.qr-card {
  background: #fff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transform: translate(50px, -50px); 
}
