<nav class="navbar navbar-expand-lg navbar-dark bg px-3">
  <a class="navbar-brand text-white d-flex flex-column" routerLink="/dashboard">
    <span class="fw-bold fs-4">SREE ANNAPURNA</span>
    <small class="fw-normal ms-4">CATERERS & EVENTS</small>
  </a>
</nav>


<div class="container min-vh-100 d-flex align-items-center justify-content-center">
  
  <div class="position-fixed top-0 end-0 p-4">
    <div *ngIf="toastMessage" class="custom-toast" [ngClass]="toastType">
      <div class="d-flex justify-content-between align-items-center">
        <span>{{ toastMessage }}</span>
        <button class="btn-close ms-3" (click)="toastMessage = null"></button>
      </div>
    </div>
  </div>

  <div class="row w-75">
    <div class="col-lg-6 mx-auto">
      <div class="card shadow p-4">
        <h4 class="text-center text-success mb-4">Admin Profile</h4>

        <form [formGroup]="profileForm">
          <div class="mb-3">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="username"
              [readonly]="!isEdit"
              [ngClass]="{ 'border-dark': isEdit, 'bg-light': !isEdit }"
            />
          </div>

          <div class="mb-3">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              [readonly]="!isEdit"
              [ngClass]="{ 'border-dark': isEdit, 'bg-light': !isEdit }"
            />
          </div>

          <div class="d-flex justify-content-between mt-4">
            <div class="d-flex gap-2" style="flex: 0 0 75%">
              <button
                type="button"
                class="btn btn-success me-2 flex-grow-1"
                *ngIf="!isEdit"
                (click)="enableEdit()"
              >
                Edit
              </button>

              <button
                type="button"
                class="btn btn-primary flex-grow-1 me-2"
                *ngIf="isEdit"
                (click)="onUpdate()"
              >
                Update
              </button>
            </div>

            <div style="flex: 0 0 25%">
              <button type="button" class="btn btn-danger w-100" (click)="logout()">
                <i class="bi bi-box-arrow-in-left"></i> Logout
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
