.table-scroll-wrapper {
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
}


.table-scroll-wrapper thead th {
  position: static !important;
  background-color: #d1e7dd;
}
.view-more-link {
  color: #198754; 
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.view-more-link:hover {
  text-decoration: underline;
}
