.body {
  cursor: pointer;
}
.bg{
 background: #c62828;
}
.card {
  width: 30rem;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.position-fixed {
  z-index: 1080;
}

.btn {
  width: 60px;
}

.input-group .btn {
  border-left: 0;
  
}

.btn1{
  background-color: rgb(140, 133, 133);
}
