<div class="row rounded-3 p-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="fw-bold text-success m-0">Item</h5>

    <div class="dropdown">
      <button
        class="btn btn-outline-success dropdown-toggle"
        type="button"
        id="filterDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ selectedFilter }}
      </button>

      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <button class="dropdown-item" (click)="changeFilter('All')">All</button>
        </li>
        <li>
          <button class="dropdown-item" (click)="changeFilter('Active')">Active</button>
        </li>
        <li>
          <button class="dropdown-item" (click)="changeFilter('Inactive')">Inactive</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="p-3 mb-4">
      <form [formGroup]="menuForm">
        <div class="mb-3">
          <label class="form-label">Category</label>
          <select class="form-select" formControlName="categoryId" class="form-select">
            <option value="">Select Category</option>
            <option *ngFor="let c of activeCategoryType" [value]="c._id">
              {{ c.name }}
            </option>
          </select>

          <div
            class="text-danger"
            *ngIf="menuForm.get('categoryId')?.touched && menuForm.get('categoryId')?.invalid"
          >
            <small *ngIf="menuForm.get('categoryId')?.errors?.['required']">
              Category is required
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Item Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Enter Item Name"
            (input)="onCategoryInput($event)"
          />

          <div
            class="text-danger"
            *ngIf="menuForm.get('name')?.touched && menuForm.get('name')?.invalid"
          >
            <small *ngIf="menuForm.get('name')?.errors?.['required']">
              Item name is required
            </small>

            <small *ngIf="menuForm.get('name')?.errors?.['minlength']">
              Minimum 3 characters required
            </small>

            <small *ngIf="menuForm.get('name')?.errors?.['pattern']"> Space not allowed </small>
          </div>
          <div class="mb-3" *ngIf="isEdit">
            <label class="form-label">Status</label>
            <select class="form-select" formControlName="status">
              <option value="">Select Status</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
          </div>
        </div>

        <button
          type="submit"
          class="btn w-100"
          (click)="saveCategory()"
          [ngClass]="isEdit ? 'btn-primary' : 'btn-success'"
        >
          {{ isEdit ? 'Update Item' : 'Add Item' }}
        </button>
      </form>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="table-responsive bg-white p-3 rounded-4 shadow-sm table-scroll-wrapper">
      <table class="table table-bordered table-hover align-middle">
        <thead class="table-success">
          <tr>
            <th>Sl.No</th>
            <th>Category</th>
            <th>Item Name</th>
            <th>Status</th>
            <th width="120">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let c of filteredCategories; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ c.categoryId?.name }}</td>
            <td>{{ c.name }}</td>

            <td>
              <span class="badge" [ngClass]="c.status === 'active' ? 'bg-success' : 'bg-secondary'">
                {{ c.status === 'active' ? 'Active' : 'Inactive' }}
              </span>
            </td>

            <td>
              <div class="d-flex gap-1 flex-nowrap justify-content-start">
                <button class="btn btn-sm btn-outline-primary me-2" (click)="edit(c)">
                  <i class="bi bi-pencil-square"></i>
                </button>

                <button
                  class="btn btn-sm btn-outline-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal"
                  (click)="openDeleteModal(c)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="filteredCategories.length === 0">No data found</div>
  </div>
</div>

<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-danger">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        Are you sure you want to move
        <strong>{{ selectedItem?.name }}</strong>
        to inactive?
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-danger" (click)="confirmDelete()">Confirm</button>
      </div>
    </div>
  </div>
</div>
