<div class="row rounded p-3">
  <div class="position-fixed top-0 end-0 p-4">
    <div *ngIf="toastMessage" class="custom-toast" [ngClass]="toastType">
      <div class="d-flex justify-content-between align-items-center">
        <span>{{ toastMessage }}</span>
        <button class="btn-close ms-3" (click)="toastMessage = null"></button>
      </div>
    </div>
  </div>

  <!-- <div class="border rounded-4 p-4 bg-white shadow-sm"> -->

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h5 class="fw-bold text-success m-0">Contact Details</h5>

    <div class="d-flex align-items-center gap-2 me-5">
      <input
        type="text"
        class="form-control"
        style="width: 200px"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
      />

      <label class="fw-semibold text-muted mb-0">STATUS:</label>
      <div class="dropdown">
        <button
          class="btn btn-outline-success dropdown-toggle"
          style="width: 125px"
          type="button"
          data-bs-toggle="dropdown"
        >
          {{ selectedFilter }}
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
          <li><button class="dropdown-item" (click)="changeFilter('All')">All</button></li>
          <li><button class="dropdown-item" (click)="changeFilter('Active')">Active</button></li>
          <li>
            <button class="dropdown-item" (click)="changeFilter('Inactive')">Inactive</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col-sm-3">
      <form [formGroup]="ContactForm">
        <div class="mb-3">
          <label class="form-label">Contact Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="contact_name"
            placeholder="Enter Contact Name"
            (input)="onCategoryInput($event)"
          />

          <div
            class="text-danger mt-1"
            *ngIf="
              ContactForm.get('contact_name')?.touched && ContactForm.get('contact_name')?.invalid
            "
          >
            <small *ngIf="ContactForm.get('contact_name')?.errors?.['required']">
              Contact name is required
            </small>

            <small *ngIf="ContactForm.get('contact_name')?.errors?.['minlength']">
              Minimum 3 characters required
            </small>

            <small *ngIf="ContactForm.get('contact_name')?.errors?.['pattern']">
              Only alphabets and single spaces allowed
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Designation</label>
          <!-- <input
    type="text"
    class="form-control"
    formControlName="designation"
    placeholder="Enter Designation Name"
  /> -->

          <select class="form-select" formControlName="designation">
            <option value="">Select Designation</option>
            <option value="Proprietor">Proprietor</option>
            <option value="Event Planner">Event Planner</option>
          </select>

          <div
            class="text-danger mt-1"
            *ngIf="
              ContactForm.get('designation')?.touched && ContactForm.get('designation')?.invalid
            "
          >
            <small *ngIf="ContactForm.get('designation')?.errors?.['required']">
              Designation is required
            </small>

            <small *ngIf="ContactForm.get('designation')?.errors?.['minlength']">
              Minimum 2 characters required
            </small>

            <small *ngIf="ContactForm.get('designation')?.errors?.['pattern']">
              Only alphabets allowed
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Contact Number</label>
          <input
            type="tel"
            class="form-control"
            formControlName="contact_number"
            placeholder="Enter 10-digit Mobile Number"
            maxlength="10"
          />

          <div
            class="text-danger mt-1"
            *ngIf="
              ContactForm.get('contact_number')?.touched &&
              ContactForm.get('contact_number')?.invalid
            "
          >
            <small *ngIf="ContactForm.get('contact_number')?.errors?.['required']">
              Mobile number is required
            </small>

            <small *ngIf="ContactForm.get('contact_number')?.errors?.['pattern']">
              Enter valid 10-digit Indian mobile number
            </small>
          </div>
        </div>

        <div class="mb-3" *ngIf="isEdit">
          <label class="form-label">Status</label>
          <select class="form-select" formControlName="status">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div>
        <div class="d-flex justify-content-center">
          <button
            type="button"
            class="btn w-80"
            [ngClass]="isEdit ? 'btn-primary' : 'btn-success'"
            (click)="updateContact()"
          >
            {{ isEdit ? 'Update Contact' : 'Add Contact' }}
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-9">
      <div class="table-responsive table-scroll-wrapper">
        <table class="table table-bordered align-middle">
          <thead class="table-success">
            <tr>
              <th>S.No</th>
              <th>Name</th>
              <th>Designation</th>
              <th>Phone Number</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let c of filteredContact; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ c.contact_name }}</td>
              <td>{{ c.designation }}</td>
              <td>{{ c.contact_number }}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="c.status === 'active' ? 'bg-success' : 'bg-secondary'"
                >
                  {{ c.status === 'active' ? 'Active' : 'Inactive' }}
                </span>
              </td>
              <td>
                <div class="d-flex gap-1 flex-nowrap justify-content-start">
                  <button class="btn btn-sm btn-outline-primary me-2" (click)="editContact(c)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button class="btn btn-sm btn-outline-danger" (click)="deleteContact(c)">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- </div> -->
      <div *ngIf="filteredContact.length === 0" class="text-center mt-3">
        <div class="alert alert-info shadow-sm py-3">
          <i class="bi bi-info-circle"></i> No data found
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header text-danger">
          <h5 class="modal-title">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          Are you sure you want to delete <strong>{{ selectedId?.eventType_name }}</strong
          >?
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" (click)="confirmDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
