<div class="row border border-1 rounded p-3">
  <div class="position-fixed top-0 end-0 p-4">
    <div *ngIf="toastMessage" class="custom-toast" [ngClass]="toastType">
      <div class="d-flex justify-content-between align-items-center">
        <span>{{ toastMessage }}</span>
        <button class="btn-close ms-3" (click)="toastMessage = null"></button>
      </div>
    </div>
  </div>
<!-- <div class="border rounded-4 p-4 bg-white shadow-sm"> -->

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h5 class="fw-bold text-success m-0">Event</h5>

    <div class="dropdown">
      <button
        class="btn btn-outline-success dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
      >
        {{ selectedFilter }}
      </button>

      <ul class="dropdown-menu dropdown-menu-end">
        <li><button class="dropdown-item" (click)="changeFilter('All')">All</button></li>
        <li><button class="dropdown-item" (click)="changeFilter('Active')">Active</button></li>
        <li><button class="dropdown-item" (click)="changeFilter('Inactive')">Inactive</button></li>
      </ul>
    </div>
  </div>

  
  <div class="row align-items-start">
    <div class="col-md-3">
      <form [formGroup]="EventForm">

        <div class="mb-3">
          <label class="form-label">Event Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="eventType_name"
            placeholder="Enter Event Name"
             (input)="onCategoryInput($event)"
          />
        </div>

        <div class="mb-3" *ngIf="isEdit">
          <label class="form-label">Status</label>
          <select class="form-select" formControlName="status">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div>

        <button
          type="button"
          class="btn w-100"
          [ngClass]="isEdit ? 'btn-primary' : 'btn-success'"
          (click)="updateEvent()"
        >
          {{ isEdit ? 'Update Event' : 'Add Event' }}
        </button>

      </form>
    </div>

    <div class="col-md-9">
      <div class="table-responsive">
        <table class="table table-bordered align-middle">
          <thead class="table-success">
            <tr>
              <th>S.No</th>
              <th>Event Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let c of filteredEvents; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ c.eventType_name }}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="c.status === 'active'
                    ? 'bg-success'
                    : 'bg-secondary'"
                >
                  {{ c.status === 'active' ? 'Active' : 'Inactive' }}
                </span>
              </td>
              <td>
                <button class="btn btn-sm btn-outline-primary me-2"
                        (click)="editEvent(c)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger"
                        (click)="deleteEvent(c._id)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <!-- </div> -->

  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-danger">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        Are you sure you want to delete <strong>{{ selectedId?.eventType_name }}</strong
        >?
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-danger" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
