.bg{
  background-color: red;
}


.side-btn {
  text-align: left;
}

.active-btn {
  background-color: red !important;
  color: white !important;
}

.sidebar {
  transition: all 0.3s ease;
}


@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 56px; 
    left: 0;
    height: 100vh;
    width: 220px;
    background: #fff;
    z-index: 1040;
  }

  .sidebar-closed {
    transform: translateX(-100%);
  }
}


// 
.tagline {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;   
  font-size: 12px;
  letter-spacing: 1px;
}




