.table-scroll-wrapper {
  max-height: 500px;
  overflow-y: auto;
}

.table-scroll-wrapper thead th {
  position: static !important;
  background-color: #d1e7dd;
}
.filter-btn {
  background-color: #e6f4ea;
  color: #ff2e09;
  border: 1px solid #ff2e09;
  border-radius: 8px;
  padding: 6px 16px;
  font-weight: 600;
}

.filter-btn:hover {
  background-color: #ff2e09;
  color: #fff;
}

.filter-btn:focus {
  box-shadow: none;
}
.table1 {
  background-color: rgb(245, 73, 73);
}
.bg {
  background: #ff2e09;
}
.td div {
  min-width: 80px;
}
.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

.sticky-header th {
  position: sticky;
  top: 0;
  background-color: #d1e7dd;   
  z-index: 10;
}
.table-scroll-wrapper {
  height: 400px;       
  overflow-y: auto;   
}

.table-scroll-wrapper thead th {
  position: sticky;
  top: 0;
  background: #d1e7dd;  
  z-index: 100;
}
