<div class="row rounded p-3">
  <!-- <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="fw-bold">Categories</h4>
  </div> -->

  <div class="position-fixed top-0 end-0 p-4">
    <div *ngIf="toastMessage" class="custom-toast" [ngClass]="toastType">
      <div class="d-flex justify-content-between align-items-center">
        <span>{{ toastMessage }}</span>
        <button class="btn-close ms-3" (click)="toastMessage = null"></button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="fw-bold text-success m-0">Category</h5>

    <div class="dropdown">
      <button
        class="btn btn-outline-success dropdown-toggle"
        type="button"
        id="filterDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ selectedFilter }}
      </button>

      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <button class="dropdown-item" (click)="changeFilter('All')">All</button>
        </li>
        <li>
          <button class="dropdown-item" (click)="changeFilter('Active')">Active</button>
        </li>
        <li>
          <button class="dropdown-item" (click)="changeFilter('Inactive')">Inactive</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="p-3">
      <form [formGroup]="categoryForm" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">Category Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Enter Category Name"
            (input)="onCategoryInput($event)"
          />

          <div
            class="text-danger"
            *ngIf="categoryForm.get('name')?.touched && categoryForm.get('name')?.invalid"
          >
            <small *ngIf="categoryForm.get('name')?.errors?.['required']">
              Category name is required
            </small>
            <small *ngIf="categoryForm.get('name')?.errors?.['minlength']">
              Minimum 3 characters required
            </small>
            <!-- <label class="form-label">Category Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="status"
              placeholder="Enter category Status"
            /> -->
          </div>
        </div>
        <div class="mb-3" *ngIf="isEdit">
          <label class="form-label">Status</label>
          <select class="form-select" formControlName="status">
            <option value="">Select Status</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div>
      </form>

      <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn w-50"
          [ngClass]="isEdit ? 'btn-primary' : 'btn-success'"
          (click)="updateCategory()"
        >
          {{ isEdit ? 'Update' : 'Add' }}
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <!-- <h5 class="fw-bold text-success mb-3">
         <i class="bi bi-building me-2"></i>Categories</h5> -->
    <div
      *ngIf="categories.length > 0"
      class="table-responsive bg-white p-3 rounded-4 table-scroll-wrapper"
    >
      <table class="table table-bordered align-middle  text-start">
        <thead class="table-success">
          <tr>
            <th>S.No</th>
            <th>Category Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of filteredCategories; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ c.name }}</td>
            <td>
              <span class="badge" [ngClass]="c.status === 'active' ? 'bg-success' : 'bg-secondary'">
                {{ c.status | titlecase }}
              </span>
            </td>
            <td>
              <div class="d-flex gap-1 flex-nowrap justify-content-start">
                <button class="btn btn-sm btn-outline-primary" (click)="editCategory(c)">
                  <i class="bi bi-pencil"></i>
                </button>

                <button class="btn btn-outline-danger btn-sm" (click)="deleteCategory(c)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="categories.length === 0" class="text-center mt-4">
      <div class="alert alert-info shadow-sm py-3">
        <i class="bi bi-info-circle"></i> No data found
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-danger">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        Are you sure you want to delete <strong>{{ selectedId?.name }}</strong
        >?
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-danger" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT MODAL -->
<!-- <div class="modal fade" id="editCategoryModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Category</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" [formGroup]="categoryForm">
        <div class="mb-3">
          <label class="form-label">Category Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Enter category name"
          />
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-success" (click)="updateCategory()">Update</button>
      </div>
    </div>
  </div>
</div> -->
